<html lang="zh-tw">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>全威網路科技有限公司</title>
    <!--Link Favicon.ico-->
    <link rel="shortcut icon" type="image/x-icon" href="../../assets/img/favicon/favicon.ico">
    <link rel="apple-touch-icon" href="../../assets/img/favicon/favicon.png" sizes="128x200">
    <!--css-->
    <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Asap:700'>
    <link rel="stylesheet" type="text/css" href="../../assets/js/vendor/mCustomScrollbar/jquery.mCustomScrollbar.css" />
    <link rel="stylesheet" type="text/css" href="../../assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/common.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/contact.css">

</head>

<body id="contact">
    <nav>
        <div class="fixed-menu">
            <div class="menu mCustomScrollbar">
                <div class="menu-top">
                    <div class="logo">
                        <a href="../home"><img src="../../assets/img/hamburgerLogo.png"></a>
                    </div>
                    <div class="close"><span></span><span></span></div>
                </div>
                <div class="content">
                    <ul class="levelOne">
                        <li>
                            <p>關於全威</p>
                            <ul>
                                <li><a href="../about">簡介</a></li>
                                <li><a href="../about">經營理念</a></li>
                                <li><a href="../about">企業視覺</a></li>
                                <li><a href="../about">核心價值</a></li>
                            </ul>
                        </li>
                        <li>
                            <p>服務項目</p>
                            <ul>
                                <li><a href="../service">全威優勢</a></li>
                                <li><a href="../service">移動應用</a></li>
                                <li><a href="../service">Web 開發</a></li>
                                <li><a href="../service">遊戲開發</a></li>
                            </ul>
                        </li>
                        <li>
                            <p>人才招募</p>
                            <ul>
                                <li><a href="../recruit">工作環境</a></li>
                                <li><a href="../recruit">員工福利</a></li>
                                <li><a href="../recruit">徵才項目</a></li>
                                <li><a href="../recruit">活動花絮</a></li>
                            </ul>
                        </li>
                        <li>
                            <p>聯繫我們</p>
                            <ul>
                                <li><a href="../contact">聯繫全威</a></li>
                            </ul>
                        </li>
                        <li>
                            <p class="lang">語系</p>
                            <span><a href="javascript:void(0);">CH</a></span>
                            <span><a href="javascript:void(0);">EN</a></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <section class="main">
        <header>
            <div class="top-menu-wrapper">
                <div class="top-menu">
                    <div class="top-menu-L">
                        <a href="../home"><img src="../../assets/img/logo.png"></a>
                    </div>
                    <div class="top-menu-R">
                        <div class="main-menu">
                            <ul>
                                <li><a href="../about">關於我們</a></li>
                                <li><a href="../service">服務項目</a></li>
                                <li><a href="../recruit">人才招募</a></li>
                                <li><a href="../contact">聯繫我們</a></li>
                            </ul>
                        </div>
                        <div class="language">
                            <ul>
                                <li><a href="javascript:void(0);">EN</a></li>
                            </ul>
                        </div>
                        <div class="hamburger">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fixed-hamburger">
                <div class="wrapper">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>

        </header>
        <div class="topBanner">
            <!-- <img src="../../upload/about/topBg.jpg"> -->
            <div class="text">
                <h2>/聯繫我們</h2>
            </div>
            <div class="address">
                <article>9F.-B1, No.213, Chaofu Rd., Xitun Dist., Taichung City 407, ​Taiwan
                </article>
            </div>
        </div>
    </section>
    <section class="info">
        <div class="wrapper">
            <div class="content">
                <div class="up">
                    <p>需了解更多訊息，請聯繫我們：</p>
                </div>
                <div class="down">
                    <div class="text">
                        <div class="img">
                            <img src="../../assets/img/contact01.png">
                        </div>

                        <span>台中市西屯區朝富路 213 號 9 樓之 7-B1</span>
                    </div>
                    <div class="text">
                        <a href="mailto:allpowernet@powernet.com">
                            <div class="img">
                                <img src="../../assets/img/contact02.png">
                            </div>
                            <span>allpowernet@powernet.com</span>
                        </a>
                    </div>
                    <div class="text">
                        <a href="tel:04-36093909">
                            <div class="img">
                                <img src="../../assets/img/contact03.png">
                            </div>
                            <span>04-36093909 #10</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mapSection">
        <div class="wrapper">
            <div id="map"></div>
            <div class="btn">
                <a href="https://goo.gl/maps/TCbb6zaYrFJ2" target="_blank">
                    <div class="btnEffect"><span>前往 Google map</span></div>
                </a>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="wrapper">
            <div class="up">
                <div class="info">
                    <h2>全威網路科技有限公司</h2>
                    <h3>POWERNET TECHNOLOGY LTD.</h3>
                    <p>台中市西屯區朝富路 213 號 9 樓之 7</p>
                    <p>+ 886-4-36093909</p>
                    <p>Email: <a href="mailto:allpowernet@powernet.com">allpowernet@powernet.com</a></p>
                </div>
                <div class="logo">
                    <img src="../../assets/img/logoColor.png">
                </div>
            </div>
            <div class="down">
                <div class="copyright">© 2017 POWERNET. All Rights Reserved.</div>
                <div class="decorate">
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="../../assets/js/vendor/jquery-2.2.4.min.js"></script>
    <!-- waypoints -->
    <script type="text/javascript" src="../../assets/js/vendor/waypoints/jquery.waypoints.min.js"></script>
    <!-- mCustomScrollbar -->
    <script type="text/javascript" src="../../assets/js/vendor/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- main js -->
    <script type="text/javascript" src="../../assets/js/common.js"></script>
    <script type="text/javascript" src="../../assets/js/about.js"></script>
    <!-- google map -->
    <script>
        function initMap() {
            var powernet = {
                lat: 24.162200,
                lng: 120.635792
            };

            var map = new google.maps.Map(document.getElementById('map'), {
                center: powernet,
                zoom: 17,
                styles: [{
                    "featureType": "landscape.natural",
                    "elementType": "geometry.fill",
                    "stylers": [{
                        "visibility": "on"
                    }, {
                        "color": "#e0efef"
                    }]
                }, {
                    "featureType": "poi",
                    "elementType": "geometry.fill",
                    "stylers": [{
                        "visibility": "on"
                    }, {
                        "hue": "#1900ff"
                    }, {
                        "color": "#c0e8e8"
                    }]
                }, {
                    "featureType": "road",
                    "elementType": "geometry",
                    "stylers": [{
                        "lightness": 100
                    }, {
                        "visibility": "simplified"
                    }]
                }, {
                    "featureType": "road",
                    "elementType": "labels",
                    "stylers": [{
                        "visibility": "off"
                    }]
                }, {
                    "featureType": "transit.line",
                    "elementType": "geometry",
                    "stylers": [{
                        "visibility": "on"
                    }, {
                        "lightness": 700
                    }]
                }, {
                    "featureType": "water",
                    "elementType": "all",
                    "stylers": [{
                        "color": "#7dcdcd"
                    }]
                }]

            });

            var marker = new google.maps.Marker({
                position: powernet,
                map: map,
                animation: google.maps.Animation.DROP,
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDYEngS-E-qlK8wWABgViTMRghi4MNh7hY&callback=initMap" async defer></script>

</body>

</html>