@charset "utf-8";

/*-- waypoints --*/

.info .imgL img,
.info .intro p,
.info .intro article,
.info .mission p,
.info .mission article,
.concept .content .text p,
.concept .content .text article,
.concept .img,
.value .text p,
.value .text article,
.cis .text p,
.cis .text article {
    opacity: 0;
}

.info .imgL.movein img,
.concept.movein .img {
    animation: fadeIn 1.5s forwards;
}

.info .intro.movein p,
.info .mission.movein p,
.concept .content .text.movein p,
.value .text.movein p,
.cis .text.movein p {
    animation: fadeInUp 1.5s forwards;
}

.info .intro.movein article,
.info .mission.movein article,
.concept .content .text.movein article,
.value .text.movein article,
.cis .text.movein article {
    animation: fadeInUpArticle 1.5s forwards .4s;
}


/*-- top banner --*/

.main .topBanner {
    background: url(../../upload/about/topBg.jpg) no-repeat;
    background-attachment: fixed;
    min-height: 625px;
}

.main .topBanner .text p {
    color: #0adbc6;
}


/*-- info --*/

.info .wrapper {
    display: flex;
}

.info .wrapper .imgL {
    width: 40%;
    padding-bottom: 70px;
    background-color: #333;
}

.info .wrapper .imgL img {
    width: 100%;
}

.info .wrapper .textR {
    width: 60%;
}

.info .intro {
    background-color: #0b0827;
    color: white;
    padding: 100px 200px 100px 100px;
}

.info .mission {
    padding: 100px 200px 100px 100px;
}

.info .mission ul li {
    margin-bottom: 10px;
}

.info .intro p,
.info .mission p,
.concept .content .text p,
.value .text p,
.cis .down .text p {
    font-family: 'LevenimMT';
    font-size: 3.2rem;
    letter-spacing: .5px;
    font-weight: bold;
    margin-bottom: 15px;
}

.info .intro p {
    color: #0adbc6;
}

.info .mission p,
.value .text p,
.cis .down .text p {
    color: #268bc3;
}

.info .intro article,
.info .mission article,
.concept .content .text article,
.value .text article table,
.value .text article ul li,
.cis .down .text article {
    font-size: 1.5rem;
    line-height: 2.6rem;
    letter-spacing: .5px;
}

.info .mission ul {
    margin-top: 15px;
    list-style: lower-greek;
    padding-left: 30px;
}


/*-- concept --*/

.concept .wrapper {
    display: flex;
}

.concept .content,
.concept .img {
    width: 50%;
}

.concept .img {
    background: url(../../upload/about/sart.jpg) no-repeat center;
    background-size: cover;
}

.concept .content .text {
    padding: 95px 100px 95px 150px;
}

.concept .content .text:first-child {
    padding: 20px 100px 95px 150px;
    background-color: #333;
    color: white;
}

.concept .content .text:last-child {
    background-color: #6c66bd;
    color: white;
}


/*-- value --*/

.value .wrapper {
    padding: 275px 0 260px;
    background: url(../../upload/about/hand.jpg) no-repeat center right;
    background-attachment: fixed;
}

.value .text {
    width: calc(50% - 285px);
    background-color: white;
    padding: 120px 100px 120px 150px;
}

.value .text article table th {
    text-align: left;
    padding-right: 25px;
    letter-spacing: 1px;
    vertical-align: top;
}

.value .text article ul {
    display: none;
}

.value .text article ul li b {
    display: block;
}


/*-- CIS --*/

.cis .up {
    background-color: #282b30;
}

.cis .up img {
    margin-top: -355px;
    width: 100%;
}

.cis .down {
    background-color: #269ac1;
    padding: 0 0 5px 140px;
}

.cis .down .text {
    background-color: #fff;
    padding: 80px 22% 120px 12%;
    transform: translateY(-135px);
}


/*-- RWD --*/

@media screen and (max-width:1840px) {
    .value .text {
        width: calc(50% - 250px);
    }
}

@media screen and (max-width:1800px) {
    .info .wrapper .imgL {
        width: 44%;
    }
    .info .wrapper .textR {
        width: 56%;
    }
}

@media screen and (max-width:1680px) {
    .info .wrapper .imgL {
        width: 45%;
    }
    .info .wrapper .textR {
        width: 55%;
    }
    .info .intro,
    .info .mission {
        padding: 70px 150px 70px 100px;
    }
    .concept .content .text:first-child {
        padding: 20px 100px 70px;
    }
    .concept .content .text {
        padding: 70px 100px;
    }
    .value .text {
        width: calc(50% - 160px);
        padding: 120px 100px 120px;
    }
}

@media screen and (max-width:1640px) {
    .value .text {
        width: calc(50% - 200px);
    }
}

@media screen and (max-width:1600px) {
    .info .intro,
    .info .mission {
        padding: 80px 150px 80px 100px;
    }
}

@media screen and (max-width:1580px) {
    .value .text {
        width: calc(50% - 170px);
    }
}

@media screen and (max-width:1550px) {
    .info .intro,
    .info .mission {
        padding: 60px 150px 60px 100px;
    }
}

@media screen and (max-width:1500px) {
    .value .text {
        width: calc(50% - 140px);
    }
}

@media screen and (max-width:1440px) {
    .info .intro p,
    .info .mission p,
    .concept .content .text p,
    .value .text p,
    .cis .down .text p {
        font-size: 2.8rem;
        margin-bottom: 15px;
    }
    .info .intro article,
    .info .mission article,
    .concept .content .text article,
    .concept .content .text article,
    .value .text article table,
    .value .text article ul li,
    .cis .down .text article {
        font-size: 1.35rem;
        line-height: 2.3rem;
    }
    .info .intro,
    .info .mission {
        padding: 55px 80px;
    }
    .concept .content .text:first-child {
        padding: 20px 80px 75px 80px;
    }
    .concept .content .text {
        padding: 75px 80px;
    }
    .value .text {
        width: 47%;
        padding: 75px 80px 90px;
    }
    .cis .down .text {
        padding: 80px 15% 120px 10%;
    }
}

@media screen and (max-width:1410px) {
    .value .text {
        width: 42%;
    }
}

@media screen and (max-width:1350px) {
    .info .intro p,
    .info .mission p,
    .concept .content .text p,
    .value .text p,
    .cis .down .text p {
        font-size: 3.2rem;
        margin-bottom: 15px;
    }
    .info .intro,
    .info .mission {
        padding: 60px 100px 60px 80px;
    }
}

@media screen and (max-width:1320px) {
    .info .intro,
    .info .mission {
        padding: 60px 75px 60px 75px;
    }
}

@media screen and (max-width:1280px) {
    .info .wrapper .imgL img {
        height: 94%;
    }
    .value .text {
        width: 45%;
    }
}

@media screen and (max-width: 1250px) {
    .info .intro p,
    .info .mission p,
    .concept .content .text p,
    .value .text p,
    .cis .down .text p {
        font-size: 3rem;
    }
    .concept .content .text:first-child {
        padding: 20px 65px 65px;
    }
    .concept .content .text {
        padding: 65px;
    }
}

@media screen and (max-width: 1190px) {
    .value .text {
        width: 49%;
        padding: 100px;
    }
}

@media screen and (max-width: 1100px) {
    .info .wrapper .imgL img {
        height: 100%;
    }
}

@media screen and (max-width: 1090px) {
    .value .text {
        width: 51%;
    }
}

@media screen and (max-width: 1060px) {
    .info .intro p,
    .info .mission p,
    .concept .content .text p,
    .value .text p,
    .cis .down .text p {
        font-size: 2.5rem;
    }
    .info .intro article,
    .info .mission article,
    .concept .content .text article,
    .concept .content .text article,
    .value .text article table,
    .value .text article ul li,
    .cis .down .text article {
        font-size: 1.2rem;
        line-height: 2rem;
    }
    .concept .content .text:first-child {
        padding: 20px 50px 50px;
    }
    .concept .content .text {
        padding: 50px;
    }
}

@media screen and (max-width:1024px) {
    .info .wrapper {
        flex-wrap: wrap;
    }
    .info .wrapper .imgL,
    .info .wrapper .textR {
        width: 100%;
    }
    .info .wrapper .imgL {
        padding-bottom: 0;
    }
    .info .wrapper .imgL img {
        height: auto;
    }
    .info .intro article,
    .info .mission article,
    .concept .content .text article,
    .value .text article table,
    .cis .down .text article {
        font-size: 1.25rem;
        text-align: justify;
    }
    .info .intro,
    .info .mission,
    .concept .content .text,
    .concept .content .text:first-child {
        padding: 65px 14%;
    }
    .info .intro p,
    .info .mission p,
    .concept .content .text p,
    .value .text p,
    .cis .down .text p {
        font-size: 3.25rem;
        margin-bottom: 15px;
    }
    .concept .wrapper {
        flex-wrap: wrap-reverse;
    }
    .concept .content,
    .concept .img {
        width: 100%;
    }
    .concept .img {
        min-height: 1200px;
    }
    .value .wrapper {
        padding: 260px 0;
        background: url(../../upload/about/hand.jpg) no-repeat right center;
        background-attachment: fixed;
    }
    .value .text article ul li {
        line-height: 2rem;
        margin-bottom: 10px;
    }
    .value .text {
        padding: 80px 5%;
        width: 56%;
    }
    .cis .up img {
        margin-top: -245px;
    }
    .cis .down {
        padding: 0 0 0 120px;
    }
    .cis .down .text {
        transform: translateY(-120px);
        padding: 80px 14% 120px 12%;
    }
}

@media screen and (max-width:1000px) {
    .value .text {
        width: 55%;
    }
}

@media screen and (max-width:900px) {
    .info .intro p,
    .info .mission p,
    .concept .content .text p,
    .value .text p,
    .cis .down .text p {
        font-size: 3rem;
        margin-bottom: 10px;
    }
    .value .text {
        width: 65%;
    }
}

@media screen and (max-width:830px) {
    .info .intro,
    .info .mission,
    .concept .content .text,
    .concept .content .text:first-child {
        padding: 65px 10%;
    }
    .value .text {
        width: 70%;
    }
}

@media screen and (max-width:768px) {
    .concept .img {
        min-height: 1000px;
    }
    .value .text {
        width: 75%;
        padding: 80px 8%;
    }
    .cis .down {
        padding: 0 0 0 90px;
    }
    .cis .down .text {
        transform: translateY(-90px);
    }
    .cis .up img {
        margin-top: -150px;
    }
}

@media screen and (max-width:750px) {
    .info .intro p,
    .info .mission p,
    .concept .content .text p,
    .value .text p,
    .cis .down .text p {
        font-size: 2.75rem;
        letter-spacing: 0;
    }
}

@media screen and (max-width:700px) {
    .value .wrapper {
        padding: 365px 0 0;
    }
    .value .text {
        width: 84%;
        padding: 60px 8% 90px;
    }
}

@media screen and (max-width:670px) {
    .info .intro p,
    .info .mission p,
    .concept .content .text p,
    .value .text p,
    .cis .down .text p {
        font-size: 2.5rem;
    }
}

@media screen and (max-width:660px) {
    .value .text {
        width: 84%;
        padding: 40px 8% 90px;
    }
}

@media screen and (max-width:640px) {
    .info .intro,
    .info .mission,
    .concept .content .text,
    .concept .content .text:first-child {
        padding: 60px 10%;
    }
    .info .intro p,
    .info .mission p,
    .concept .content .text p,
    .value .text p,
    .cis .down .text p {
        font-size: 2.5rem;
    }
    .info .intro article,
    .info .mission article,
    .concept .content .text article,
    .value .text article table,
    .value .text article ul li,
    .cis .down .text article {
        font-size: 1.1rem;
        line-height: 1.8rem;
    }
    .concept .img {
        min-height: 800px;
    }
    .info .mission ul {
        padding-left: 20px;
    }
    .value .wrapper {
        background: url(../../upload/about/handTablet.jpg) no-repeat center right;
        padding: 315px 0 0;
    }
    .value .text article ul li {
        margin-bottom: 3px;
    }
    .cis .down .text {
        padding: 50px 10% 80px;
        transform: translateY(-45px);
    }
    .cis .up img {
        margin-top: -130px;
    }
    .cis .down {
        padding: 1px 0 0 45px;
    }
}

@media screen and (max-width:610px) {
    .info .intro,
    .info .mission,
    .concept .content .text,
    .concept .content .text:first-child {
        padding: 60px 8%;
    }
}

@media screen and (max-width:580px) {
    .info .intro p,
    .info .mission p,
    .concept .content .text p,
    .value .text p,
    .cis .down .text p {
        font-size: 2.25rem;
    }
}

@media screen and (max-width:550px) {
    .value .text {
        width: 84%;
        padding: 40px 8% 85px;
    }
    .value .text article table {
        display: none;
    }
    .value .text article ul {
        display: block;
    }
    .value .text p {
        margin-bottom: 5px;
    }
    .value .wrapper {
        padding: 300px 0 0;
    }
}

@media screen and (max-width:520px) {
    .info .intro p,
    .info .mission p,
    .concept .content .text p,
    .value .text p,
    .cis .down .text p {
        font-size: 2rem;
    }
}

@media screen and (max-width:480px) {
    .info .intro,
    .info .mission,
    .concept .content .text,
    .concept .content .text:first-child {
        padding: 45px 6%;
    }
    .concept .img {
        min-height: 600px;
    }
    .value .wrapper {
        background: url(../../upload/about/handMobile.jpg) no-repeat center right;
        background-size: cover;
        padding: 300px 0 0;
    }
    .value .text {
        width: 88%;
        padding: 40px 6%;
    }
    .cis .down {
        padding: 1px 0 0 30px;
    }
    .cis .down .text {
        transform: translateY(-30px);
    }
    .cis .down .text {
        padding: 40px 6% 60px;
    }
    .cis .up img {
        margin-top: -55px;
    }
}

@media screen and (max-width:440px) {
    .main .topBanner {
        background: url(../../upload/about/topBgMobile.jpg) no-repeat;
    }
    .info .intro p,
    .info .mission p,
    .concept .content .text p,
    .value .text p,
    .cis .down .text p {
        font-size: 1.75rem;
    }
}

@media screen and (max-width:420px) {
    .info .intro article,
    .info .mission article,
    .concept .content .text article,
    .value .text article ul li,
    .cis .down .text article {
        font-size: 1rem;
        line-height: 1.4rem;
    }
    .info .intro,
    .info .mission,
    .concept .content .text,
    .concept .content .text:first-child {
        padding: 45px 8%;
    }
    .concept .img {
        min-height: 500px;
    }
    .value .text {
        width: 84%;
        padding: 40px 8% 60px;
    }
    .value .text p {
        margin-bottom: 15px;
    }
    .value .text article ul li {
        line-height: 1.5rem;
        margin-bottom: 10px;
    }
    .cis .down .text {
        padding: 40px 8%;
    }
}

@media screen and (max-width:400px) {
    .info .intro p,
    .info .mission p,
    .concept .content .text p,
    .value .text p,
    .cis .down .text p {
        font-size: 1.5rem;
    }
}

@media screen and (max-width:380px) {
    .value .wrapper {
        padding: 220px 0 0;
    }
    .value .text {
        padding: 30px 10%;
    }
}

@media screen and (max-width:350px) {
    .info .intro p,
    .info .mission p,
    .concept .content .text p,
    .value .text p,
    .cis .down .text p {
        font-size: 1.3rem;
    }
    .value .text p {
        margin-bottom: 10px;
    }
}

@media screen and (max-width:330px) {}

@media screen and (max-width:1250px) {}

@media screen and (max-width:1250px) {}

@media screen and (max-width:1250px) {}