<!DOCTYPE html>
<html lang="zh-tw">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>全威網路科技有限公司</title>
    <!--Link Favicon.ico-->
    <link rel="shortcut icon" type="image/x-icon" href="../../assets/img/favicon/favicon.ico">
    <link rel="apple-touch-icon" href="../../assets/img/favicon/favicon.png" sizes="128x200">
    <!--css-->
    <link rel="stylesheet" type="text/css" href="../../assets/js/vendor/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="../../assets/js/vendor/slick/slick-theme.css" />
    <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Asap:700'>
    <link rel="stylesheet" type="text/css" href="../../assets/js/vendor/mCustomScrollbar/jquery.mCustomScrollbar.css" />
    <link rel="stylesheet" type="text/css" href="../../assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/common.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/home.css">
</head>

<body id="home">
    <nav>
        <div class="fixed-menu">
            <div class="menu mCustomScrollbar">
                <div class="menu-top">
                    <div class="logo">
                        <a href="../home"><img src="../../assets/img/hamburgerLogo.png"></a>
                    </div>
                    <div class="close"><span></span><span></span></div>
                </div>
                <div class="content">
                    <ul class="levelOne">
                        <li>
                            <p>關於全威</p>
                            <ul>
                                <li><a href="../about">簡介</a></li>
                                <li><a href="../about">經營理念</a></li>
                                <li><a href="../about">企業視覺</a></li>
                                <li><a href="../about">核心價值</a></li>
                            </ul>
                        </li>
                        <li>
                            <p>服務項目</p>
                            <ul>
                                <li><a href="../service">全威優勢</a></li>
                                <li><a href="../service">移動應用</a></li>
                                <li><a href="../service">Web 開發</a></li>
                                <li><a href="../service">遊戲開發</a></li>
                            </ul>
                        </li>
                        <li>
                            <p>人才招募</p>
                            <ul>
                                <li><a href="../recruit">工作環境</a></li>
                                <li><a href="../recruit">員工福利</a></li>
                                <li><a href="../recruit">徵才項目</a></li>
                                <li><a href="../recruit">活動花絮</a></li>
                            </ul>
                        </li>
                        <li>
                            <p>聯繫我們</p>
                            <ul>
                                <li><a href="../contact">聯繫全威</a></li>
                            </ul>
                        </li>
                        <li>
                            <p class="lang">語系</p>
                            <span><a href="javascript:void(0);">CH</a></span>
                            <span><a href="javascript:void(0);">EN</a></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <section class="main">
        <header>
            <div class="top-menu-wrapper">
                <div class="top-menu">
                    <div class="top-menu-L">
                        <a href="../home"><img src="../../assets/img/logo.png"></a>
                    </div>
                    <div class="top-menu-R">
                        <div class="main-menu">
                            <ul>
                                <li><a href="../about">關於全威</a></li>
                                <li><a href="../service">服務項目</a></li>
                                <li><a href="../recruit">人才招募</a></li>
                                <li><a href="../contact">聯繫我們</a></li>
                            </ul>
                        </div>
                        <div class="language">
                            <ul>
                                <li><a href="javascript:void(0);">EN</a></li>
                            </ul>
                        </div>
                        <div class="hamburger">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fixed-hamburger">
                <div class="wrapper">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </header>
        <div class="top-banner-pc-slick">
            <img src="../../upload/home/banner01.jpg">
            <img src="../../upload/home/banner02.jpg">
            <img src="../../upload/home/banner03.jpg">
            <img src="../../upload/home/banner04.jpg">
        </div>
        <div class="top-banner-mobile-slick">
            <img src="../../upload/home/mobileBanner01.jpg">
            <img src="../../upload/home/mobileBanner02.jpg">
        </div>
    </section>
    <section class="technology">
        <p>創新思維的技術研發</p>
        <article>
            在我們由技術顧問，UI 設計師，代碼開發人員團隊領導和網頁設計師組成的專業和經驗豐富的團隊的幫助下我們的目標是在遊戲開發領域為您打拼！
        </article>
    </section>
    <section class="global">
        <div class="wrapper">
            <div class="bg"></div>

        </div>
        <div class="content">
            <p>全球視野</p>
            <article>
                在網路遊戲的世界裡，只要連上網路，您隨時隨地都能享受到任何影音與娛樂服務。全威網路的服務同樣以全球視野的角度，為您提供客製化的服務與產品。
            </article>
            <a href="javascript:void(0);">
                <div class="btnEffect"><span>了解更多</span></div>
            </a>
        </div>
    </section>
    <section class="application">
        <div class="wrapper">
            <div class="text">
                <p>移動應用</p>
                <article>
                    利用我們豐富的遊戲開發知識，<br/>我們的團隊將跨平台的應用遊戲和模擬提供給全球觀眾
                </article>
            </div>
            <div class="img">
                <img src="../../upload/service/rwd.png">
            </div>
        </div>
    </section>
    <section class="service">
        <div class="wrapper">
            <div class="img">
                <img src="../../upload/home/service.png">
            </div>
            <div class="text">
                <article>
                    鑄就夢想，邁向世界<br/>以科技為基石​ 以人本為信念
                </article>
                <p>遊戲開發 - 手機APP<br/>遊戲設計 - 網站開發</p>
                <a href="javascript:void(0);">
                    <div class="btnEffect"><span>了解更多</span></div>
                </a>
            </div>

        </div>
    </section>
    <section class="future">
        <div class="wrapper">
            <div class="content">
                <img src="../../assets/img/icon1.png">
                <p>更人性智慧</p>
                <article>個人需求取得相應的服務模式</article>
            </div>
            <div class="content middle">
                <img src="../../assets/img/icon2.png">
                <p>更自由隨心</p>
                <article>空前未有的自由和便利</article>
            </div>
            <div class="content">
                <img src="../../assets/img/icon3.png">
                <p>更無所限制</p>
                <article>擴展無限的可能</article>
            </div>
        </div>
    </section>
    <section class="recruit">
        <div class="wrapper">
            <div class="sectionL">
                <p>人才招募</p>
                <article>
                    匯集了一支在網路與在線娛樂行業具備豐富經驗的科技團隊，和一群心懷夢想，富有激情的年輕人。<br/><br/>從台灣出發，照亮世界。在邁向高點的過程中，將秉持著樂趣和童心，帶著熱情與創新的精神，努力往前！
                </article>
                <a href="javascript:void(0);">
                    <div class="btnEffect"><span>了解更多</span></div>
                </a>
            </div>
            <div class="sectionR">
                <div class="text">創造我們與你的未來</div>
                <div class="img">
                    <div class="col close secOrder1">
                        <img src="../../upload/home/recruit01.jpg">
                    </div>
                    <div class="col order5">
                        <img src="../../upload/home/recruit02.jpg">
                    </div>
                    <div class="col order2">
                        <img src="../../upload/home/recruit03.jpg">
                    </div>
                    <div class="colwide order3">
                        <img src="../../upload/home/recruit04.jpg">
                    </div>
                    <div class="col order1">
                        <img src="../../upload/home/recruit05.jpg">
                    </div>
                    <div class="col close secOrder6">
                        <img src="../../upload/home/recruit06.jpg">
                    </div>
                    <div class="colwide close secOrder7">
                        <img src="../../upload/home/recruit07.jpg">
                    </div>
                    <div class="colwide order6">
                        <img src="../../upload/home/recruit08.jpg">
                    </div>
                    <div class="col order4">
                        <img src="../../upload/home/recruit09.jpg">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="quality">
        <p>我們始終如一地提供無與倫比的品質，卓越和卓越。</p>
    </section>

    <footer class="footer">
        <div class="wrapper">
            <div class="up">
                <div class="info">
                    <h2>全威網路科技有限公司</h2>
                    <h3>POWERNET TECHNOLOGY LTD.</h3>
                    <p>台中市西屯區朝富路 213 號 9 樓之 7</p>
                    <p>+ 886-4-36093909</p>
                    <p>Email: <a href="mailto:allpowernet@powernet.com">allpowernet@powernet.com</a></p>
                </div>
                <div class="logo">
                    <img src="../../assets/img/logoColor.png">
                </div>
            </div>
            <div class="down">
                <div class="copyright">© 2017 POWERNET. All Rights Reserved.</div>
                <div class="decorate">
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>


    <script type="text/javascript" src="../../assets/js/vendor/jquery-2.2.4.min.js"></script>
    <!-- slick -->
    <script type="text/javascript" src="../../assets/js/vendor/slick/slick.min.js"></script>
    <!-- waypoints -->
    <script type="text/javascript" src="../../assets/js/vendor/waypoints/jquery.waypoints.min.js"></script>
    <!-- just font -->
    <script src="../../assets/js/vendor/justFont/jf-53364.js"></script>
    <!-- mCustomScrollbar -->
    <script type="text/javascript" src="../../assets/js/vendor/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- main js -->
    <script type="text/javascript" src="../../assets/js/common.js"></script>
    <script type="text/javascript" src="../../assets/js/home.js"></script>
    <style>
        #justfont-badge {
            display: none !important;
        }
    </style>
</body>

</html>