@charset "utf-8";

/*-- top menu --*/

.main {
    overflow: hidden;
}

header {
    position: relative;
}

.top-menu-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
}

.top-menu {
    display: flex;
    justify-content: space-between;
}

.top-menu-L {
    padding: 20px 0 0 23px;
    width: 20%;
}

.top-menu-R {
    padding: 43px 30px 0 0;
    border-bottom: 1px solid white;
    width: 80%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 45px;
}

.top-menu-R .main-menu {
    position: relative;
    padding-right: 30px;
}

.top-menu-R .main-menu::after,
.top-menu-R .language::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    right: 0;
    top: 3px;
}

.top-menu-R .main-menu ul li {
    color: white;
    display: inline-block;
    font-size: 1.25rem;
    font-weight: bold;
    transition: .5 ease;
}

.top-menu-R .main-menu ul li a:hover {
    opacity: .7;
    transition: .5 ease;
}

.top-menu-R .main-menu ul li:not(:last-child) {
    margin-right: 25px;
}

.top-menu-R .language {
    position: relative;
    padding-right: 25px;
}

.top-menu-R .language ul {
    color: #fff;
    margin-left: 25px;
}

.top-menu-R .language ul li {
    display: inline-block;
    font-size: 1.25rem;
    letter-spacing: 1px;
    opacity: 1;
    transition: .5s ease;
}

.top-menu-R .language ul li:hover,
.top-menu-R .language ul li.active {
    opacity: .5;
    transition: .5s ease;
}

.top-menu-R .language ul li:not(:first-child) {
    margin-left: 15px;
}

.top-menu-R .hamburger,
.fixed-hamburger .wrapper {
    position: relative;
    padding-left: 60px;
    margin-top: 3px;
    cursor: pointer;
}

.top-menu-R .hamburger span,
.fixed-hamburger span {
    height: 2px;
    background-color: white;
    position: absolute;
    right: 0;
    transition: .5s ease;
}

.top-menu-R .hamburger span:first-child,
.fixed-hamburger span:first-child {
    top: 0;
    width: 22px;
}

.top-menu-R .hamburger span:nth-child(2),
.fixed-hamburger span:nth-child(2) {
    top: 8px;
    width: 30px;
}

.top-menu-R .hamburger span:last-child,
.fixed-hamburger span:last-child {
    top: 16px;
    width: 26px;
}

.top-menu-R .hamburger:hover span,
.top-menu-R .hamburger.close span,
.fixed-hamburger:hover span,
.fixed-hamburger.close span {
    width: 30px;
    transition: .5s ease;
}

.fixed-hamburger {
    position: fixed;
    right: 15px;
    top: -90px;
    z-index: 2;
    background-color: rgba(34, 157, 194, .5);
    background-color: rgba(142, 77, 186, .5);
    width: 30px;
    height: 30px;
    padding: 15px 15px 10px;
    cursor: pointer;
    transition: .3s ease;
}

.fixed-hamburger.show {
    top: 15px;
    transition: .3s ease;
}

.fixed-hamburger:hover,
.fixed-hamburger.close {
    background-color: rgba(34, 157, 194, 1);
    background-color: rgba(142, 77, 186, 1);
    transition: .5s ease;
}

.fixed-hamburger span {
    right: 30px;
}

.top-menu-R .hamburger.close span:nth-child(2),
.fixed-hamburger.close span:nth-child(2) {
    display: none;
}

.top-menu-R .hamburger.close span:first-child,
.fixed-hamburger.close span:first-child {
    animation: closeFirst 1s forwards;
}

.top-menu-R .hamburger.close span:last-child,
.fixed-hamburger.close span:last-child {
    animation: closeLast 1s forwards;
}


/*-- top banner text --*/

.main .topBanner {
    width: 100%;
}

.main .topBanner .text {
    position: absolute;
    top: 215px;
    left: 290px;
    color: white;
}

.main .topBanner .text h1 {
    font-size: 7.0625rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.main .topBanner .text h2 {
    font-size: 4.5rem;
    font-weight: bold;
}

.main .topBanner .text p {
    font-size: 3.125rem;
    margin: 0 0 15px 55px;
}

.main .topBanner .text article {
    font-size: 1.875rem;
    line-height: 2.8rem;
    margin: 0 45% 0 55px;
}


/*-- fixed menu --*/

body {
    transition: .5s ease;
}

body.menuOn {
    margin-left: -385px;
    padding-right: 385px;
    transition: .5s ease;
}

body.menuOn .fixed-menu {
    right: 0;
    transition: .5s ease;
}

body.menuOn .fixed-hamburger {
    right: 385px;
}

body.menuOn .global .bg {
    background-position-x: -385px;
}

.mCSB_inside>.mCSB_container {
    margin-right: 0;
}

.fixed-menu {
    position: fixed;
    height: auto;
    right: -385px;
    top: 0;
    z-index: 2;
    width: 385px;
    height: 100%;
    background-color: #222;
    transition: .5s ease;
}

.fixed-menu .menu {
    background-color: #222;
}

.fixed-menu .menu-top {
    padding: 20px;
    display: flex;
}

.fixed-menu .menu-top .logo img {
    width: 220px;
}

.fixed-menu .menu-top .close {
    position: relative;
    margin: 20px 30px 0 105px;
    transform: rotate(45deg);
    transform-origin: top;
    display: none;
    cursor: pointer;
}

.fixed-menu .menu-top .close span {
    position: absolute;
    background-color: white;
}

.fixed-menu .menu-top .close span:first-child {
    width: 30px;
    height: 1px;
    top: 15px;
}

.fixed-menu .menu-top .close span:last-child {
    width: 1px;
    height: 30px;
    left: 15px;
    top: 0;
}

.fixed-menu .content {
    color: white
}

.fixed-menu .content ul li p {
    font-size: 1.75rem;
    padding: 25px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.3); */
}

.fixed-menu .content ul li ul li {
    font-size: 1.2rem;
    padding: 15px 40px;
    background-color: #0c0c0c;
    transition: .5s ease;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.fixed-menu .content ul li ul li:last-child {
    padding: 15px 40px 25px;
}

.fixed-menu .content ul li ul li:hover {
    opacity: .5;
    transition: .5s ease;
}


/*-- footer --*/

footer .wrapper {
    background-color: #050a23;
    color: white;
}

footer .up {
    display: flex;
    justify-content: space-between;
    padding: 115px 15% 80px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

footer .up h2 {
    letter-spacing: .4rem;
    margin-bottom: 5px;
}

footer .up h3 {
    font-size: 1.15rem;
    letter-spacing: 1px;
    margin-bottom: 55px;
}

footer .up p {
    font-size: 1.15rem;
    letter-spacing: 1px;
    line-height: 2rem;
}

footer .down {
    display: flex;
    justify-content: space-between;
    padding: 25px 15%;
}

footer .down .copyright {
    font-size: 0.85rem;
    letter-spacing: .5px;
    text-transform: uppercase;
    margin-top: 10px;
}

footer .down .decorate ul li {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 3px solid #545368;
    /* background-color: #545368; */
    transform: rotate(45deg);
}

footer .down .decorate ul li:not(:last-child) {
    margin-right: 25px;
}


/*-- waypoints --*/

.topBanner .text h1,
.topBanner .text p,
.topBanner .text article {
    opacity: 0;
}

.topBanner.movein .text h1 {
    animation: fadeInUp 1.5s forwards;
}

.topBanner.movein .text p {
    animation: fadeInUp 1.5s forwards .6s;
}

.topBanner.movein .text article {
    animation: fadeInUpArticle 1.5s forwards 1s;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUpArticle {
    0% {
        opacity: 0;
        transform: translateY(10%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes rotateYIn {
    0% {
        opacity: 0;
        transform: rotateY(270deg);
    }
    100% {
        opacity: 1;
        transform: rotateY(360deg);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.footer {
    opacity: 0;
}

.footer.movein {
    animation: fadeInUpArticle 1.5s forwards;
}


/*-- common --*/

@keyframes closeFirst {
    0% {
        top: 8px;
    }
    100% {
        top: 8px;
        transform: rotate(-45deg);
    }
}

@keyframes closeLast {
    0% {
        top: 8px;
    }
    100% {
        top: 8px;
        transform: rotate(45deg);
    }
}

.btnEffect {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 160px;
    cursor: pointer;
    color: #000;
    z-index: 3;
    letter-spacing: 0px;
}

.btnEffect:hover {
    color: rgba(255, 255, 255, 1);
    letter-spacing: 4px;
    transition: .5s ease;
}

.btnEffect:hover::before {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

.btnEffect::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(255, 255, 255, 1);
    border-bottom-color: rgba(255, 255, 255, 1);
    -webkit-transform: scale(0.1, 1);
    transform: scale(0.1, 1);
}

.btnEffect:hover::after {
    opacity: 0;
    -webkit-transform: scale(0.1, 1);
    transform: scale(0.1, 1);
}

.btnEffect::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    background-color: rgba(255, 255, 255, 1);
}


/*-- RWD --*/

@media screen and (max-width:1680px) {
    .main .topBanner .text h1 {
        font-size: 6.5rem;
        margin-bottom: 10px;
    }
    .main .topBanner .text p {
        font-size: 3rem;
        margin: 0 0 15px 55px;
    }
    .main .topBanner .text article {
        margin: 0 43% 0 55px;
    }
}

@media screen and (max-width:1440px) {
    .main .topBanner .text h1 {
        font-size: 6rem;
    }
    .main .topBanner .text p {
        font-size: 2.75rem;
        margin: 0 0 15px 50px;
    }
    .main .topBanner .text article {
        font-size: 1.75rem;
        line-height: 2.6rem;
        margin: 0 37% 0 50px;
    }
}

@media screen and (max-width:1250px) {
    footer .up {
        padding: 60px 5%;
    }
    footer .up .logo {
        text-align: right;
    }
    footer .up .logo img {
        width: 80%;
    }
    footer .up h3 {
        margin-bottom: 35px;
    }
    footer .down {
        padding: 25px 5%;
    }
}

@media screen and (max-width:1024px) {
    .top-menu-L img {
        width: 90%;
    }
    .top-menu-R {
        padding: 30px 35px 5px 0;
        margin-bottom: 15px;
    }
    .top-menu-R .main-menu {
        padding-right: 30px;
    }
    .top-menu-R .hamburger {
        padding-left: 65px;
    }
    .top-menu-R .main-menu ul li {
        font-size: 1.125rem;
    }
    .main .topBanner .text {
        left: 45%;
        transform: translateX(-28%);
    }
    .main .topBanner .text h1 {
        font-size: 5.5rem;
    }
    .main .topBanner .text p {
        font-size: 2.5rem;
        margin: 0 0 15px 45px;
    }
    .main .topBanner .text article {
        font-size: 1.5rem;
        line-height: 2.2rem;
        margin: 0 2% 0 45px;
    }
}

@media screen and (max-width:900px) {
    footer .up .info,
    footer .up .logo {
        width: 50%;
    }
    footer .up .logo {
        padding-top: 30px;
    }
    footer .up .logo img {
        width: 70%;
    }
    footer .up p {
        font-size: 1rem;
        letter-spacing: .5px;
        line-height: 1.7rem;
    }
    footer .up h3 {
        margin-bottom: 30px;
        letter-spacing: 0px;
    }
    footer .up h2 {
        letter-spacing: 3.3px;
    }
}

@media screen and (max-width:768px) {
    .top-menu-R .main-menu {
        display: none;
    }
    .top-menu-R {
        border: none;
        padding: 70px 40px 5px 0;
    }
    .top-menu-L {
        width: 65%;
    }
    .top-menu-L img {
        width: 100%;
    }
    .main .topBanner .text {
        top: 240px;
        left: 38%;
        transform: translateX(-30%);
    }
    .main .topBanner .text h1 {
        font-size: 4.5rem;
    }
    .main .topBanner .text p {
        font-size: 2.25rem;
        margin: 0 0 15px 38px;
    }
    .main .topBanner .text article {
        font-size: 1.25rem;
        line-height: 1.8rem;
        margin: 0 4% 0 38px;
    }
}

@media screen and (max-width:640px) {
    .main .topBanner .text {
        left: 26%;
        transform: translateX(-4%);
    }
    .main .topBanner .text h1,
    .main .topBanner .text h2 {
        font-size: 4.25rem;
    }
    .main .topBanner .text p {
        margin: 0 0 10px 35px;
    }
    .main .topBanner .text article {
        margin-left: 35px;
    }
    footer .up h2 {
        letter-spacing: 2px;
        font-size: 1.2rem;
    }
    footer .up h3 {
        margin-bottom: 23px;
        letter-spacing: 1px;
        font-size: 0.8rem;
    }
    footer .up p {
        font-size: 0.875rem;
        letter-spacing: .5px;
        line-height: 1.4rem;
    }
    footer .up .logo {
        padding-top: 30px;
    }
    footer .up .logo img {
        width: 75%;
    }
    footer .up {
        padding: 50px 5% 25px;
    }
    footer .down .decorate ul li:not(:last-child) {
        margin-right: 15px;
    }
    footer .down .copyright {
        font-size: 0.75rem;
        letter-spacing: .5px;
        margin-top: 0px;
    }
    .fixed-hamburger.show {
        top: 0;
    }
    .fixed-hamburger {
        right: 0;
    }
}

@media screen and (max-width:480px) {
    .top-menu-R {
        border: none;
        padding: 38px 25px 5px 0;
    }
    .main .topBanner .text {
        top: 245px;
        left: 10%;
        transform: translateX(-4%);
    }
    .main .topBanner .text h1,
    .main .topBanner .text h2 {
        font-size: 3.75rem;
    }
    .main .topBanner .text article {
        font-size: 1rem;
        line-height: 1.8rem;
    }
    footer .up {
        flex-wrap: wrap-reverse;
        padding: 35px 5%;
    }
    footer .up .info,
    footer .up .logo {
        width: 100%;
    }
    footer .up .logo {
        padding-top: 0;
        text-align: center;
    }
    footer .up .info {
        padding: 15px 5% 0 17%;
    }
    footer .up .logo img {
        width: 65%;
    }
    footer .down {
        flex-wrap: wrap;
    }
    footer .down .copyright {
        text-align: center;
        width: 100%;
    }
    footer .down .decorate {
        width: 162px;
        margin: 25px auto 0;
    }
    .fixed-hamburger.show {
        top: 0px;
    }
    .fixed-hamburger {
        right: 0;
    }
}

@media screen and (max-width:479px) {
    .fixed-menu .menu-top .close {
        display: block;
    }
    .fixed-menu {
        width: 100%;
        right: -100%;
    }
    body.menuOn .fixed-hamburger {
        right: -90px;
    }
}

@media screen and (max-width:420px) {
    .main .topBanner .text h1 {
        font-size: 2.5rem;
        margin-bottom: 5px;
    }
    .main .topBanner .text h2 {
        font-size: 3rem;
    }
    .main .topBanner .text p {
        margin: 0 0 10px 17px;
        font-size: 1.5rem;
        margin-bottom: 5px;
    }
    .main .topBanner .text article {
        margin: 0 10% 0 17px;
    }
    .main .topBanner .text {
        left: 14%;
    }
}

@media screen and (max-width:380px) {
    .main .topBanner .text h2 {
        font-size: 2.5rem;
    }
    footer .up .info {
        padding: 15px 5% 0 11%;
    }
    footer .up .logo {
        text-align: left;
        margin: 0 5% 0 11%;
    }
    footer .up .logo img {
        width: 85%;
    }
}

@media screen and (max-width:320px) {
    footer .up .info {
        padding: 15px 5% 0;
    }
    footer .up .logo img {
        width: 96%;
    }
}