@charset "utf-8";

/*-- waypoints --*/

.topBanner .text h1,
.topBanner .text p,
.topBanner .text article,
.info .intro p,
.info .intro article,
.info .mission p,
.info .mission article,
.value .text p,
.value .text article,
.cis .text p,
.cis .text article {
    opacity: 0;
}

.topBanner.movein .text h1,
.info .intro.movein p,
.info .mission.movein p,
.value .text.movein p,
.cis .text.movein p {
    animation: fadeInUp 1.5s forwards;
}

.topBanner.movein .text p {
    animation: fadeInUp 1.5s forwards .6s;
}

.topBanner.movein .text article {
    animation: fadeInUpArticle 1.5s forwards 1s;
}

.info .intro.movein article,
.info .mission.movein article,
.value .text.movein article,
.cis .text.movein article {
    animation: fadeInUpArticle 1.5s forwards .41s;
}


/*-- top banner --*/

.main .topBanner {
    background: url(../../upload/contact/topBg.jpg) no-repeat;
    background-attachment: fixed;
    min-height: 625px;
}

.main .topBanner .text {
    top: 510px;
    left: 455px;
}

.main .topBanner .address {
    position: absolute;
    top: 345px;
    left: 1015px;
    color: white;
    font-size: 2.5rem;
    line-height: 3.5rem;
    width: 40%;
}


/*-- info --*/

.info .wrapper {
    background-color: #e9f3f8;
    padding: 80px 0 60px;
    text-align: center;
}

.info .content {
    width: 65%;
    margin: auto;
}

.info .content .up {
    border-bottom: 1px solid #219ec2;
}

.info .content .up p {
    font-size: 1.75rem;
    padding-bottom: 20px;
}

.info .content .down {
    display: flex;
    width: 57%;
    margin: auto;
    padding-top: 70px;
}

.info .down span {
    display: block;
    font-size: 1rem;
    line-height: 1.5rem;
}

.info .down .text:nth-child(1) span {
    margin-top: 15px;
}

.info .down .text:nth-child(2) span {
    margin-top: 24px;
}

.info .down .text:nth-child(3) span {
    margin-top: 17px;
}

.info .down .text {
    width: calc(100% / 3);
}

.info .down .text:nth-child(2) {
    margin: 0 50px;
}


/*-- map --*/

#map {
    height: 100%;
}

.mapSection .wrapper {
    width: 70%;
    height: 520px;
    margin: 85px auto;
}


/*-- RWD --*/

@media screen and (max-width:1680px) {
    .main .topBanner .address {
        font-size: 2.25rem;
        line-height: 3rem;
        width: 33%;
    }
    .info .content .down {
        width: 65%;
    }
}

@media screen and (max-width:1440px) {
    .main .topBanner .address {
        font-size: 2rem;
        width: 30%;
    }
    .info .content .down {
        width: 76%;
    }
    .mapSection .wrapper {
        width: 75%;
    }
}

@media screen and (max-width:1430px) {
    .main .topBanner .address {
        display: none;
    }
}

@media screen and (max-width:1024px) {
    .main .topBanner .text {
        left: 50%;
        transform: translateX(-50%);
        top: 295px;
    }
    .info .content {
        width: 75%;
    }
    .info .content .down {
        width: 92%;
    }
    .mapSection .wrapper {
        width: 90%;
        margin: 60px auto;
    }
}

@media screen and (max-width:768px) {
    .main .topBanner .text {
        top: 320px;
    }
    .info .content {
        width: 90%;
    }
    .mapSection .wrapper {
        margin: 40px auto;
    }
}

@media screen and (max-width:640px) {
    .info .down .text:nth-child(1) span {
        margin-top: 0;
    }
    .info .down .text:nth-child(2) span {
        margin-top: 0;
    }
    .info .down .text:nth-child(3) span {
        margin-top: 0;
    }
    .info .content .down {
        flex-wrap: wrap;
        width: 65%;
        padding-top: 45px;
    }
    .info .down .text {
        width: 100%;
        text-align: left;
        display: flex;
        align-items: center;
    }
    .info .down .text a {
        display: flex;
        align-items: center;
    }
    .info .down .text:nth-child(2) {
        margin: 20px 0;
    }
    .info .down .text .img {
        text-align: center;
        width: 55px;
    }
    .info .down .text:nth-child(1) .img img {
        width: 18px;
    }
    .info .down .text:nth-child(2) .img img {
        width: 25px;
    }
    .info .down .text:nth-child(3) .img img {
        width: 23px;
    }
}

@media screen and (max-width:480px) {
    .main .topBanner .text {
        left: 44%;
        transform: translateX(-40%);
        top: 305px;
    }
    .info .content .up p {
        font-size: 1.5rem;
    }
    .info .content .down {
        width: 90%;
    }
    .info .down .text:nth-child(2) {
        margin: 10px 0 15px 0;
    }
    .mapSection .wrapper {
        width: 100%;
        margin: 0;
    }
}

@media screen and (max-width:420px) {
    .info .content .up p {
        font-size: 1.25rem;
    }
    .info .wrapper {
        padding: 65px 0 60px;
    }
    .info .down span {
        font-size: 0.875rem;
    }
    .info .content .down {
        padding-top: 35px;
    }
}

@media screen and (max-width:380px) {
    .info .content .down {
        width: 95%;
    }
}

@media screen and (max-width:360px) {
    .info .down .text .img {
        width: 45px;
    }
}

@media screen and (max-width:1250px) {}