@charset "utf-8";
.technology p,
.technology article,
.global .content p,
.global .content article,
.global .content a .btnEffect,
.application .text p,
.application .text article,
.application .img,
.service .img,
.service .text article,
.service .text p,
.service .text a .btnEffect,
.future .content,
.recruit .sectionR .text,
.recruit .sectionR .img .col,
.recruit .sectionR .img .colwide,
.quality p {
    opacity: 0;
}

.application.movein .img,
.service.movein .img {
    animation: fadeIn 1.5s forwards;
}

.technology.movein p,
.global.movein .content p,
.application.movein .text p {
    animation: fadeInUp 1.5s forwards;
}

.global.movein .content a .btnEffect,
.service.movein .text a .btnEffect {
    animation: fadeInUp 1.5s forwards .8s;
}

.service.movein .text article,
.service.movein .text p,
.future.movein .content:first-child,
.recruit.movein .sectionR .text,
.quality.movein p {
    animation: fadeInUpArticle 1.5s forwards;
}

.technology.movein article,
.global.movein .content article,
.application.movein .text article,
.future.movein .content:nth-child(2) {
    animation: fadeInUpArticle 1.5s forwards .4s;
}

.future.movein .content:last-child {
    animation: fadeInUpArticle 1.5s forwards .8s;
}

.recruit .sectionR .img.movein .col,
.recruit .sectionR .img.movein .colwide {
    animation: rotateYIn 1.5s forwards;
}


/*-- top banner --*/

.top-banner-pc-slick {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
}

.top-banner-pc-slick img {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.top-banner-pc-slick .slick-dots,
.top-banner-mobile-slick .slick-dots {
    bottom: 30px;
}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.top-banner-pc-slick .slick-dots li,
.top-banner-mobile-slick .slick-dots li {
    margin: 0 10px;
}

.top-banner-pc-slick .slick-dots button:before,
.top-banner-mobile-slick .slick-dots button:before {
    content: '';
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    opacity: 1;
}

.top-banner-pc-slick .slick-dots li.slick-active button:before,
.top-banner-mobile-slick .slick-dots li.slick-active button:before {
    width: 12px;
    height: 12px;
    background-color: white;
    opacity: 1;
}

.top-banner-pc-slick .slick-dots li button:before,
.top-banner-mobile-slick .slick-dots li button:before {
    width: 13px;
    height: 13px;
    border: 3px solid white;
}

.top-banner-mobile-slick {
    display: none;
}


/*-- technology --*/

.technology {
    text-align: center;
    background-color: #080925;
    padding: 128px 28% 120px;
}

.technology p,
.application .text p,
.service .text p,
.future .content p,
.recruit .sectionL p,
.quality p {
    font-size: 3rem;
}

.technology p {
    color: #ff9c00;
    margin-bottom: 30px;
}

.technology article,
.global .content article,
.application .text article,
.service .text article,
.future .content article,
.recruit .sectionL article {
    font-size: 1.5rem;
    line-height: 2.8rem;
}

.technology article {
    color: white;
}


/*-- global --*/

.global {
    position: relative;
}

.global .wrapper {
    width: 100%;
    height: 945px;
    background: -webkit-radial-gradient(circle, #cf3c8d, #352a73);
    background: -o-radial-gradient(circle, #cf3c8d, #352a73);
    background: -moz-radial-gradient(circle, #cf3c8d, #352a73);
    background: radial-gradient(circle, #cf3c8d, #352a73);
    z-index: -2;
}

.global .bg {
    position: absolute;
    left: 0;
    top: 0;
    background: url(../../upload/home/building.png) no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    z-index: 0;
    transition: .5s ease;
}

.global .content {
    padding: 295px 12% 0 54%;
    position: absolute;
    z-index: 0;
    top: 0;
}

.global .content p,
.recruit .sectionR .text {
    font-size: 3.7rem;
    font-weight: bold;
}

.global .content p {
    color: white;
    margin-bottom: 35px;
}

.global .content article {
    margin-bottom: 3rem;
    color: white;
}

.recruit .sectionL a .btnEffect {
    margin: auto;
}


/*-- application --*/

.application .wrapper {
    display: flex;
    justify-content: center;
}

.application .text {
    width: 50%;
    text-align: right;
    padding: 140px 130px 0;
}

.application .text p {
    color: #2fb1ad;
    margin-bottom: 75px;
}

.application .img {
    width: 50%;
    padding-top: 83px;
    overflow: hidden;
}

.application .img img {
    vertical-align: top;
    width: 100%;
}


/*-- service --*/

.service .wrapper {
    background-color: #040a23;
    display: flex;
    overflow: hidden;
}

.service .img {
    width: 55%;
}

.service .text {
    width: 45%;
    color: white;
    padding: 240px 0 0 45px;
}

.service .text article {
    margin-bottom: 40px;
    letter-spacing: .3rem;
}

.service .text p {
    line-height: 4.5rem;
    margin-bottom: 60px;
    letter-spacing: .3rem;
}

.service .text a,
.recruit .sectionL a {
    color: black;
}


/*-- future --*/

.future .wrapper {
    /* background: #43b8b5;
    background: -webkit-linear-gradient(left, #43b8b5, #654f82);
    background: -o-linear-gradient(right, #43b8b5, #654f82);
    background: -moz-linear-gradient(right, #43b8b5, #654f82);
    background: linear-gradient(to right, #43b8b5, #654f82); */
    background: url(../../upload/home/skyBg.jpg) no-repeat center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 85px 15% 80px;
}

.future .content {
    width: calc(100% / 3);
}

.future .content.middle {
    padding: 0 10%;
}

.future .content p {
    margin: 50px 0 10px;
}


/*-- recruit --*/

.recruit .wrapper {
    display: flex;
    overflow: hidden;
}

.recruit .sectionL,
.recruit .sectionR {
    width: 50%;
}

.recruit .sectionL {
    background: url(../../upload/home/recruitBg.jpg) no-repeat center;
    padding-top: 1130px;
    color: white;
    text-align: center;
    margin-bottom: 1px;
}

.recruit .sectionL p {
    letter-spacing: .2rem;
    margin-bottom: 50px;
}

.recruit .sectionL article {
    margin: 0 15% 90px;
    text-align: justify;
}

.recruit .sectionL a {
    margin: auto;
}

.recruit .sectionR .text {
    font-family: "cwtexqyuan";
    letter-spacing: 2px;
    text-align: center;
    padding: 329px 0;
    color: #2a9ba7;
    background: linear-gradient(90deg, #2a9ba7 0%, #2d71a2 50%, #4f4e94 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.recruit .sectionR .img {
    display: flex;
    flex-wrap: wrap;
}

.recruit .sectionR .img img {
    vertical-align: top;
    width: 100%;
}

.recruit .sectionR .img .col {
    width: calc(100% / 3);
}

.recruit .sectionR .img .colwide {
    width: 66.6%;
}


/*-- quality --*/

.quality p {
    text-align: center;
    letter-spacing: .2rem;
    font-weight: bold;
    color: #4c519b;
    padding: 225px 5% 200px;
}


/*-- RWD --*/

@media screen and (max-width:1800px) {
    .technology {
        padding: 128px 29% 120px;
    }
    .future .wrapper {
        padding: 85px 12% 80px;
    }
    .recruit .sectionL {
        padding-top: 1080px;
    }
}

@media screen and (max-width:1680px) {
    .technology p,
    .application .text p,
    .service .text p,
    .future .content p,
    .recruit .sectionL p,
    .quality p {
        font-size: 2.6rem;
    }
    .service .text p {
        line-height: 3.6rem;
    }
    .technology article,
    .global .content article,
    .application .text article,
    .service .text article,
    .future .content article,
    .recruit .sectionL article {
        font-size: 1.3rem;
        line-height: 2.6rem;
    }
    .service .text article {
        line-height: 2.2rem;
    }
    .global .content p,
    .recruit .sectionR .text {
        font-size: 3.2rem;
    }
    .technology {
        padding: 128px 28% 120px;
    }
    .service .text {
        padding: 305px 0 0 45px;
    }
    .future .wrapper {
        padding: 85px 10% 80px;
    }
    .application .text {
        padding: 140px 120px 0;
    }
    .recruit .sectionL {
        padding-top: 940px;
    }
    .recruit .sectionR .text {
        padding: 280px 0;
    }
}

@media screen and (max-width:1560px) {
    .technology {
        padding: 128px 24% 120px;
    }
    .global .bg {
        background-position: bottom center;
    }
    .global .content {
        padding: 242px 10% 0 50%;
    }
    .future .content.middle {
        padding: 0 5%;
    }
    .recruit .sectionL article {
        margin: 0 10% 90px;
    }
}

@media screen and (max-width:1440px) {
    .technology p,
    .application .text p,
    .service .text p,
    .future .content p,
    .recruit .sectionL p,
    .quality p {
        font-size: 2.2rem;
    }
    .service .text p {
        line-height: 3.2rem;
    }
    .technology article,
    .global .content article,
    .application .text article,
    .service .text article,
    .future .content article,
    .recruit .sectionL article {
        font-size: 1.25rem;
        line-height: 2.4rem;
    }
    .global .content p,
    .recruit .sectionR .text {
        font-size: 2.8rem;
    }
    .technology {
        padding: 120px 24%;
    }
    .application .img {
        padding-top: 120px;
        width: 60%;
    }
    .application .text {
        padding: 185px 100px 0;
        width: 40%;
    }
    .application .text p {
        margin-bottom: 50px;
    }
    .service .img img {
        width: 180%;
    }
    .service .text {
        padding: 170px 0 0 45px;
    }
    .service .text article {
        margin-bottom: 30px;
        line-height: 2rem;
    }
    .service .text p {
        margin-bottom: 70px;
    }
    .future .content img {
        width: 55%;
    }
    .future .wrapper {
        padding: 85px 8% 80px;
    }
    .future .content p {
        margin: 35px 0 3px;
        letter-spacing: 2px;
    }
    .recruit .sectionR .img .col {
        width: 50%;
    }
    .recruit .sectionR .img .col img,
    .recruit .sectionR .img .colwide img {
        width: 100%;
    }
    .recruit .sectionR .img .colwide {
        width: 100%;
    }
    .recruit .sectionR .text {
        letter-spacing: 3px;
        padding: 200px 0;
    }
    .recruit .sectionR .img .col.order1 {
        order: 1;
    }
    .recruit .sectionR .img .col.order2 {
        order: 2;
    }
    .recruit .sectionR .img .colwide.order3 {
        order: 3;
    }
    .recruit .sectionR .img .col.order4 {
        order: 4;
    }
    .recruit .sectionR .img .col.order5 {
        order: 5;
    }
    .recruit .sectionR .img .colwide.order6 {
        order: 6;
    }
    .recruit .sectionR .img .col.close,
    .recruit .sectionR .img .colwide.close {
        display: none;
    }
    .recruit .sectionL {
        padding: 940px 5% 0;
        margin-bottom: 0px;
    }
    .recruit .sectionL article {
        margin: 0 3% 70px;
    }
    .recruit .sectionL p {
        margin-bottom: 50px;
    }
    .quality p {
        padding: 185px 5% 160px;
    }
}

@media screen and (max-width:1360px) {
    .technology {
        padding: 120px 20%;
    }
    .recruit .sectionL article {
        margin: 0 3% 55px;
    }
    .recruit .sectionL {
        padding: 960px 5% 0;
    }
    .quality p {
        padding: 155px 5% 130px;
    }
}

@media screen and (max-width:1250px) {
    .service .text {
        padding: 110px 5% 0 15px;
    }
    .service .text article {
        margin-bottom: 40px;
    }
    .service .text p {
        margin-bottom: 60px;
    }
    .application .text {
        padding: 150px 90px 0;
    }
    .recruit .sectionR .text {
        padding: 150px 9%;
    }
    .recruit .sectionL {
        padding: 900px 5% 0;
    }
    .recruit .sectionL p {
        margin-bottom: 25px;
    }
    .recruit .sectionL article {
        margin: 0 3% 50px;
    }
}

@media screen and (max-width:1200px) {
    .technology p,
    .application .text p,
    .service .text p,
    .future .content p,
    .recruit .sectionL p,
    .quality p {
        font-size: 2rem;
    }
    .service .text p {
        line-height: 2.6rem;
    }
    .technology article,
    .global .content article,
    .application .text article,
    .service .text article,
    .future .content article,
    .recruit .sectionL article {
        font-size: 1.05rem;
        line-height: 2rem;
    }
    .service .text article {
        line-height: 1.6rem;
    }
    .global .content p,
    .recruit .sectionR .text {
        font-size: 2.3rem;
    }
    .technology p {
        margin-bottom: 20px;
    }
    .global .content {
        padding: 320px 10% 0 50%;
    }
    .global .content p {
        margin-bottom: 25px;
    }
    .global .content article {
        margin-bottom: 35px;
    }
    .service .text {
        padding: 140px 5% 0 15px;
    }
    .service .text article {
        margin-bottom: 25px;
    }
    .service .text p {
        margin-bottom: 40px;
    }
    .future .content p {
        margin: 40px 0 5px;
    }
    .future .content article {
        line-height: 2rem;
    }
}

@media screen and (max-width:1150px) {
    .future .wrapper {
        padding: 85px 4% 80px;
    }
    .recruit .sectionR .img .col img {
        width: 101%;
    }
    .recruit .sectionL {
        padding: 830px 5% 0;
    }
}

@media screen and (max-width:1024px) {
    .top-banner-pc-slick .slick-dots {
        bottom: 15px;
    }
    .top-banner-pc-slick .slick-dots li.slick-active button:before,
    .top-banner-mobile-slick .slick-dots li.slick-active button:before {
        width: 8px;
        height: 8px;
    }
    .top-banner-pc-slick .slick-dots li button:before,
    .top-banner-mobile-slick .slick-dots li button:before {
        width: 10px;
        height: 10px;
    }
    .technology {
        padding: 120px 17%;
    }
    .global .content p {
        font-size: 3.5rem;
        margin-bottom: 2.5rem;
    }
    .global .content {
        padding: 180px 12% 0 45%;
    }
    .global .wrapper {
        height: 820px;
    }
    .global .bg {
        background-position: center bottom;
        background-size: 1440px 710px;
    }
    .application .img img {
        width: 110%;
    }
    .application .text {
        padding: 140px 70px 0;
    }
    .service .text article {
        margin-bottom: 25px;
    }
    .service .text {
        padding: 110px 0 100px 45px;
    }
    .service .img img {
        width: 190%;
    }
    .recruit .wrapper {
        flex-wrap: wrap;
    }
    .recruit .sectionL,
    .recruit .sectionR {
        width: 100%;
    }
    .recruit .sectionL {
        background-position: center;
        background-size: cover;
        padding: 565px 0 120px 0;
    }
    .recruit .sectionL p {
        margin-bottom: 35px;
    }
    .recruit .sectionR .text {
        padding: 120px 0;
    }
    .recruit .sectionL article {
        margin: 0 27% 45px;
    }
    .quality p {
        font-size: 2.3rem;
        line-height: 3rem;
        letter-spacing: 2px;
        padding: 120px 5%;
    }
    .recruit .sectionR .img .col.close,
    .recruit .sectionR .img .colwide.close {
        display: initial;
    }
    .recruit .sectionR .img .col {
        width: calc(100% / 3);
    }
    .recruit .sectionR .img .colwide {
        width: 66.6%;
    }
    .recruit .sectionR .img .col.secOrder1 {
        order: 1;
    }
    .recruit .sectionR .img .col.order5 {
        order: 2;
    }
    .recruit .sectionR .img .col.order2 {
        order: 3;
    }
    .recruit .sectionR .img .colwide.order3 {
        order: 4;
    }
    .recruit .sectionR .img .col.order1 {
        order: 5;
    }
    .recruit .sectionR .img .col.secOrder6 {
        order: 6;
    }
    .recruit .sectionR .img .colwide.secOrder7 {
        order: 7;
    }
    .recruit .sectionR .img .colwide.order6 {
        order: 8;
    }
    .recruit .sectionR .img .col.order4 {
        order: 9;
    }
    .recruit .sectionR .img .col img {
        width: 100%;
    }
}

@media screen and (max-width:970px) {
    .application .text {
        padding: 140px 50px 0;
    }
    .service .text {
        padding: 110px 0 100px;
    }
    .recruit .sectionL {
        padding: 640px 0 90px 0;
    }
}

@media screen and (max-width:900px) {
    .top-banner-pc-slick .slick-dots li button:before,
    .top-banner-mobile-slick .slick-dots li button:before {
        width: 10px;
        height: 10px;
    }
    .top-banner-pc-slick .slick-dots li.slick-active button:before,
    .top-banner-mobile-slick .slick-dots li.slick-active button:before {
        width: 10px;
        height: 10px;
    }
    .technology {
        padding: 100px 17%;
    }
    .application .wrapper {
        flex-wrap: wrap;
    }
    .application .text {
        width: 100%;
        padding: 70px 70px 0;
        text-align: center;
    }
    .application .img {
        width: 100%;
        padding-top: 50px;
        text-align: right;
    }
    .application .img img {
        width: 85%;
    }
    .service .text {
        width: 55%;
        padding: 110px 5% 100px;
    }
    .service .img {
        width: 45%;
    }
    .service .img img {
        width: 225%;
    }
    .future .wrapper {
        padding: 75px 8%;
    }
    .future .content p {
        margin: 40px 0 15px;
    }
    .recruit .sectionL article {
        margin-bottom: 45px;
        line-height: 2.5rem;
    }
    .recruit .sectionL {
        padding: 330px 0 80px 0;
        background-attachment: fixed;
    }
    .recruit .sectionR .text {
        padding: 120px 0;
    }
}

@media screen and (max-width:800px) {
    .service .img img {
        width: 305%;
    }
}

@media screen and (max-width:768px) {
    .top-banner-pc-slick {
        display: none;
    }
    .top-banner-mobile-slick {
        display: block;
    }
    .technology p,
    .application .text p,
    .service .text p,
    .future .content p,
    .recruit .sectionL p,
    .quality p {
        font-size: 1.8rem;
    }
    .service .text p {
        line-height: 2.6rem;
    }
    .technology article,
    .global .content article,
    .application .text article,
    .service .text article,
    .future .content article,
    .recruit .sectionL article {
        font-size: 1.03rem;
        line-height: 1.8rem;
    }
    .service .text article {
        line-height: 1.4rem;
    }
    .global .content p,
    .recruit .sectionR .text {
        font-size: 2.2rem;
    }
    .technology p {
        margin-bottom: 15px;
    }
    .technology {
        padding: 100px 14%;
    }
    .global .bg {
        background-size: 1240px 611px;
    }
    .global .wrapper {
        height: 635px;
    }
    .global .content {
        padding: 155px 10% 0 44%;
    }
    .application .text {
        width: 80%;
    }
    .application .text p {
        margin-bottom: 25px;
    }
    .service .img {
        width: 50%;
    }
    .service .img img {
        width: 225%;
    }
    .service .text {
        width: 50%;
        padding: 80px 5%;
    }
    .service .text p {
        line-height: 2.4rem;
    }
    .future .content article {
        line-height: 1.6rem;
    }
    .future .content p {
        font-size: 1.75rem;
        margin: 25px 0 8px;
    }
    .recruit .sectionL {
        padding: 250px 0 80px 0;
    }
    .recruit .sectionL article {
        margin: 0 18% 40px;
    }
}

@media screen and (max-width:700px) {
    .technology {
        padding: 100px 8%;
    }
    .service .text p,
    .service .text article {
        letter-spacing: .5px;
    }
    .service .img img {
        width: 255%;
    }
    .recruit .sectionR .text,
    .quality p {
        padding: 100px 5%;
    }
    .technology p,
    .application .text p,
    .service .text p,
    .future .content p,
    .recruit .sectionL p,
    .quality p {
        font-size: 1.6rem;
    }
    .service .text p {
        line-height: 2.3rem;
    }
    .technology article,
    .global .content article,
    .application .text article,
    .service .text article,
    .future .content article,
    .recruit .sectionL article {
        font-size: 1rem;
        line-height: 1.6rem;
    }
    .service .text article {
        line-height: 1.4rem;
    }
    .service .text p {
        margin-bottom: 20px;
    }
    .global .content p,
    .recruit .sectionR .text {
        font-size: 2rem;
    }
}

@media screen and (max-width:640px) {
    .top-banner-pc-slick .slick-dots,
    .top-banner-mobile-slick .slick-dots {
        bottom: 20px;
    }
    .global .bg {
        background-size: 1024px 505px;
    }
    .global.movein .content a .btnEffect {
        float: right;
    }
    .btnEffect {
        line-height: 40px;
        height: 40px;
        width: 130px;
        font-size: 0.875rem;
        letter-spacing: .5px;
    }
    .global .content a,
    .service .text a,
    .recruit .sectionL a {
        width: 76px;
        padding: 15px 25px;
        letter-spacing: 3px;
    }
    .global .wrapper {
        height: 520px;
    }
    .global .content {
        padding: 130px 6% 0 35%;
    }
    .global .content p {
        margin-bottom: 20px;
    }
    .global .content article {
        margin-bottom: 25px;
    }
    .application .text p {
        margin-bottom: 20px;
    }
    .application .text {
        padding: 50px 0 0;
    }
    .service .img img {
        width: 230%;
    }
    .service .text p {
        line-height: 2.5rem;
    }
    .service .text {
        width: 40%;
    }
    .future .wrapper {
        padding: 65px 5%;
    }
    .future .content p {
        letter-spacing: 1px;
        margin: 20px 0 8px;
    }
    .future .content article {
        line-height: 1.3rem;
    }
    .recruit .sectionR .text {
        letter-spacing: 2px;
        padding: 85px 5%;
    }
    .quality p {
        padding: 85px 5%;
        line-height: 3rem;
        letter-spacing: 1px;
    }
}

@media screen and (max-width:580px) {
    .service .img {
        display: none;
    }
    .service .text {
        width: 100%;
        position: relative;
        z-index: 1;
        padding: 55px 5% 55px 50%;
    }
    .service .text::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        background: url(../../upload/home/service.png) no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        opacity: .5;
    }
    .service .text article {
        margin-bottom: 10px;
    }
    .service .text p {
        margin-bottom: 5px;
    }
    .recruit .sectionR .text,
    .quality p {
        padding: 75px 5%;
    }
}

@media screen and (max-width:510px) {
    .service .text {
        padding: 55px 5% 55px 45%;
    }
}

@media screen and (max-width:480px) {
    .top-banner-mobile-slick .slick-dots li {
        margin: 0 5px;
    }
    .top-banner-mobile-slick .slick-dots li.slick-active button:before {
        width: 8px;
        height: 8px;
    }
    .top-banner-mobile-slick .slick-dots li button:before {
        width: 9px;
        height: 9px;
    }
    .technology p,
    .application .text p,
    .service .text p,
    .future .content p,
    .recruit .sectionL p,
    .quality p {
        font-size: 1.5rem;
    }
    .service .text p {
        line-height: 2.3rem;
    }
    .service .text p {
        margin-bottom: 20px;
    }
    .global .content p,
    .recruit .sectionR .text {
        font-size: 1.7rem;
    }
    .future .content article {
        font-size: 0.875rem;
        line-height: 1.2rem;
    }
    .recruit .sectionL p {
        text-shadow: 2px 2px 3px #434a54;
    }
    .service .text p {
        line-height: 2.3rem;
    }
    .service .text p {
        margin-bottom: 20px;
    }
    .technology {
        padding: 80px 10%;
    }
    .global .wrapper {
        height: 450px;
    }
    .global .content {
        padding: 80px 8% 0;
    }
    .global .bg {
        background-size: 768px 378px;
    }
    .global .content a .btn,
    .service .text a .btn,
    .recruit .sectionL a .btn {
        width: 100px;
        line-height: 40px;
        height: 40px;
    }
    .service .text p {
        font-size: 1.25rem;
        line-height: 1.8rem;
    }
    .global .content a,
    .service .text a,
    .recruit .sectionL a {
        width: 65px;
        padding: 10px 15px;
        letter-spacing: 1px;
        font-size: 0.875rem;
    }
    .future .content p {
        letter-spacing: .5px;
    }
    .future .content article {
        line-height: 1.1rem;
        letter-spacing: .5px;
    }
    .future .content.middle {
        padding: 0 5%;
    }
    .recruit .sectionL {
        padding: 150px 12% 80px;
    }
    .recruit .sectionR .text {
        letter-spacing: 1.5px;
    }
    .recruit .sectionL article {
        margin: 0 0 45px;
    }
    .quality p {
        padding: 80px 5%;
        line-height: 2.1rem;
        letter-spacing: .5px;
    }
}

@media screen and (max-width:420px) {
    .top-banner-mobile-slick .slick-dots {
        bottom: 10px;
    }
    .technology {
        padding: 80px 12%;
    }
    .global .content {
        padding: 80px 12% 0;
    }
    .global .content article {
        margin-bottom: 20px;
    }
    .btnEffect {
        line-height: 35px;
        height: 35px;
        width: 110px;
        font-size: 0.75rem;
        letter-spacing: .5px;
    }
    .service .text article {
        margin-bottom: 15px;
    }
    .service .text {
        padding: 75px 20% 55px;
    }
    .service .text::after {
        opacity: .2;
    }
    .future .content p {
        font-size: 1rem;
        letter-spacing: 0px;
    }
    .future .content article {
        line-height: 1rem;
        font-size: 0.75rem;
        letter-spacing: 0;
    }
    .future .content.middle {
        padding: 0 6%;
    }
    .recruit .sectionL {
        padding: 150px 10% 80px;
    }
    .recruit .sectionL article {
        margin: 0 0 40px;
    }
    .recruit .sectionR .text {
        letter-spacing: 1px;
    }
    .recruit .sectionR .img .col {
        width: 50%;
    }
    .recruit .sectionR .img .col img,
    .recruit .sectionR .img .colwide img {
        width: 100%;
    }
    .recruit .sectionR .img .colwide {
        width: 100%;
    }
    .recruit .sectionR .img .col.order1 {
        order: 1;
    }
    .recruit .sectionR .img .col.order2 {
        order: 2;
    }
    .recruit .sectionR .img .colwide.order3 {
        order: 3;
    }
    .recruit .sectionR .img .col.order4 {
        order: 4;
    }
    .recruit .sectionR .img .col.order5 {
        order: 5;
    }
    .recruit .sectionR .img .colwide.order6 {
        order: 6;
    }
    .recruit .sectionR .img .col.close,
    .recruit .sectionR .img .colwide.close {
        display: none;
    }
    .quality p {
        line-height: 1.8rem;
    }
}

@media screen and (max-width:380px) {
    .technology {
        padding: 60px 8%;
    }
    .technology p,
    .application .text p {
        margin-bottom: 18px;
    }
    .global .content {
        padding: 60px 8% 0;
    }
    .recruit .sectionL {
        padding: 120px 8% 65px;
    }
    .recruit .sectionR .text {
        padding: 80px 5%;
    }
    .top-banner-mobile-slick .slick-dots {
        bottom: 8px;
    }
}

@media screen and (max-width:360px) {
    .technology p,
    .application .text p,
    .service .text p,
    .future .content p,
    .recruit .sectionL p,
    .quality p {
        font-size: 1.5rem;
    }
    .service .text p {
        line-height: 2.3rem;
    }
    .technology article,
    .global .content article,
    .application .text article,
    .service .text article,
    .future .content article,
    .recruit .sectionL article {
        font-size: 0.95rem;
        line-height: 1.7rem;
    }
    .future .content p {
        font-size: 1.1rem;
    }
    .quality p {
        font-size: 1.25rem;
        line-height: 1.8rem;
    }
    .future .content article {
        font-size: 0.75rem;
        line-height: 1rem;
    }
    .service .text article {
        line-height: 1.4rem;
    }
    .service .text p {
        margin-bottom: 20px;
    }
    .global .content p,
    .recruit .sectionR .text {
        font-size: 1.5rem;
    }
    .service .text {
        padding: 75px 15% 55px 20%;
    }
    .recruit .sectionR .img img {
        vertical-align: top;
    }
}

@media screen and (max-width:320px) {
    .service .text article {
        letter-spacing: 0px;
        line-height: 1.5rem;
    }
    .service .img img {
        width: 130%;
    }
    .recruit .sectionR .text,
    .quality p {
        padding: 60px 5%;
    }
}

@media screen and (max-width:1440px) {}

@media screen and (max-width:1440px) {}