<html lang="zh-tw">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>全威網路科技有限公司</title>
    <!--Link Favicon.ico-->
    <link rel="shortcut icon" type="image/x-icon" href="../../assets/img/favicon/favicon.ico">
    <link rel="apple-touch-icon" href="../../assets/img/favicon/favicon.png" sizes="128x200">
    <!--css-->
    <link rel="stylesheet" type="text/css" href="../../assets/js/vendor/mCustomScrollbar/jquery.mCustomScrollbar.css" />
    <link rel="stylesheet" type="text/css" href="../../assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/common.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/recruit.css">

</head>

<body id="recruit">
    <nav>
        <div class="fixed-menu">
            <div class="menu mCustomScrollbar">
                <div class="menu-top">
                    <div class="logo">
                        <a href="../home"><img src="../../assets/img/hamburgerLogo.png"></a>
                    </div>
                    <div class="close"><span></span><span></span></div>
                </div>
                <div class="content">
                    <ul class="levelOne">
                        <li>
                            <p>關於全威</p>
                            <ul>
                                <li><a href="../about">簡介</a></li>
                                <li><a href="../about">經營理念</a></li>
                                <li><a href="../about">企業視覺</a></li>
                                <li><a href="../about">核心價值</a></li>
                            </ul>
                        </li>
                        <li>
                            <p>服務項目</p>
                            <ul>
                                <li><a href="../service">全威優勢</a></li>
                                <li><a href="../service">移動應用</a></li>
                                <li><a href="../service">Web 開發</a></li>
                                <li><a href="../service">遊戲開發</a></li>
                            </ul>
                        </li>
                        <li>
                            <p>人才招募</p>
                            <ul>
                                <li><a href="../recruit">工作環境</a></li>
                                <li><a href="../recruit">員工福利</a></li>
                                <li><a href="../recruit">徵才項目</a></li>
                                <li><a href="../recruit">活動花絮</a></li>
                            </ul>
                        </li>
                        <li>
                            <p>聯繫我們</p>
                            <ul>
                                <li><a href="../contact">聯繫全威</a></li>
                            </ul>
                        </li>
                        <li>
                            <p class="lang">語系</p>
                            <span><a href="javascript:void(0);">CH</a></span>
                            <span><a href="javascript:void(0);">EN</a></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <section class="main">
        <header>
            <div class="top-menu-wrapper">
                <div class="top-menu">
                    <div class="top-menu-L">
                        <a href="../home"><img src="../../assets/img/logo.png"></a>
                    </div>
                    <div class="top-menu-R">
                        <div class="main-menu">
                            <ul>
                                <li><a href="../about">關於全威</a></li>
                                <li><a href="../service">服務項目</a></li>
                                <li><a href="../recruit">人才招募</a></li>
                                <li><a href="../contact">聯繫我們</a></li>
                            </ul>
                        </div>
                        <div class="language">
                            <ul>
                                <li><a href="javascript:void(0);">EN</a></li>
                            </ul>
                        </div>
                        <div class="hamburger">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fixed-hamburger">
                <div class="wrapper">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>

        </header>
        <div class="topBanner">
            <div class="text">
                <h1>/人才招募</h1>
                <p>創造我們與你的未來</p>
                <article>
                    一群心懷夢想，富有激情的年輕人。將秉持著樂趣和童心，從台灣出發，照亮世界。在邁向高點的過程中，帶著熱情與創新的精神，努力往前！
                </article>
            </div>
        </div>
    </section>
    <section class="info">
        <div class="wrapper">
            <div class="imgL">
                <img src="../../upload/recruit/recruitLU.jpg">
                <img src="../../upload/recruit/recruitLD.jpg">
            </div>
            <div class="contentR">
                <div class="environment">
                    <div class="text">
                        <div class="content">
                            <p>工作環境</p>
                            <article>
                                <span>全威網路相信，一個整潔又迷人的工作空間對於工作的產出和夥伴間的關係能夠產生很驚人的影響。</span>
                                <span>因此，我們提供了超大的職員工作站桌面、舒適的可調式辦公網椅、還有無價的絕佳高樓景觀。</span>
                            </article>
                        </div>
                    </div>
                    <div class="img">
                        <img src="../../upload/recruit/enviorment01.jpg">
                        <img src="../../upload/recruit/enviorment02.jpg">
                    </div>
                </div>
                <div class="benefit">
                    <div class="title">
                        <p>員工福利</p>
                    </div>
                    <div class="list">
                        <div class="listL">
                            <p class="frame">彈性上下班</p>
                            <p>優於勞基法的休假福利</p>
                            <ul class="bottom">
                                <li>特休預給 12 天</li>
                                <li>優渥薪資：具競爭力的薪資給付</li>
                            </ul>
                            <p>獎金</p>
                            <ul class="bottom">
                                <li>年終獎金</li>
                                <li>績效獎金</li>
                                <li>獎勵金／開發獎金</li>
                            </ul>
                            <p>補助</p>
                            <ul>
                                <li>三節禮金</li>
                                <li>生日禮金</li>
                                <li>生育補助</li>
                                <li>住院慰問金</li>
                                <li>婚喪喜慶補助</li>
                            </ul>
                        </div>
                        <div class="listR">
                            <p>保險</p>
                            <ul>
                                <li>依法辦理勞健保</li>
                                <li>差旅時投保旅遊平安險</li>
                            </ul>
                            <p>活動</p>
                            <ul>
                                <li>不定期聚餐 年度聚餐 部門聚餐</li>
                                <li>尾牙、春酒</li>
                                <li>每年國內外旅遊</li>
                                <li>部門團康活動</li>
                                <li>年度健康檢查</li>
                            </ul>
                            <p>配備</p>
                            <ul>
                                <li>寬敞明亮的辦公格局</li>
                                <li>無限暢飲咖啡吧</li>
                                <li>吃到飽零食吧</li>
                                <li>美到爆風景任你看</li>
                                <li>俊男美女每日環繞</li>
                                <li>人性化管理與愉悅的工作環境</li>
                                <li>四通八達工作環境</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="titbits">
        <div class="title">
            <p>活動花絮</p>
            <span>不定時舉辦的聚餐和活動，豐富你我的職場生活! </span>
        </div>
        <div class="wrapper">
            <!-- section 1 -->
            <div class="photoSec marginBottom">
                <div class="row3 marginRight">
                    <img src="../../upload/recruit/sec1-1.jpg">
                </div>
                <div class="row1 marginRight">
                    <div class="marginBottom">
                        <img src="../../upload/recruit/sec1-2.jpg">
                    </div>
                    <div class="marginBottom">
                        <img src="../../upload/recruit/sec1-3.jpg">
                    </div>
                    <div>
                        <img src="../../upload/recruit/sec1-4.jpg">
                    </div>
                </div>
            </div>
            <!-- section 2 -->
            <div class="photoSec marginBottom">
                <div class="row2 marginRight">
                    <div class="marginBottom">
                        <img src="../../upload/recruit/sec2-1.jpg">
                    </div>
                    <div class="column2">
                        <div class="marginRight">
                            <img src="../../upload/recruit/sec2-2.jpg">
                        </div>
                        <div>
                            <img src="../../upload/recruit/sec2-3.jpg">
                        </div>
                    </div>
                </div>
                <div class="row2">
                    <div class="column2 marginBottom">
                        <div class="marginRight">
                            <img src="../../upload/recruit/sec2-4.jpg">
                        </div>
                        <div>
                            <img src="../../upload/recruit/sec2-5.jpg">
                        </div>
                    </div>
                    <div>
                        <img src="../../upload/recruit/sec2-6.jpg">
                    </div>
                </div>
            </div>
            <!-- section 3 -->
            <div class="photoSec marginBottom">
                <div class="row3 marginRight">
                    <img src="../../upload/recruit/sec3-1.jpg">
                </div>
                <div class="row1 marginRight">
                    <div class="marginBottom">
                        <img src="../../upload/recruit/sec3-2.jpg">
                    </div>
                    <div class="marginBottom">
                        <img src="../../upload/recruit/sec3-3.jpg">
                    </div>
                    <div>
                        <img src="../../upload/recruit/sec3-4.jpg">
                    </div>
                </div>
            </div>
            <!-- section 4 -->
            <div class="photoSec marginBottom">
                <div class="row1 adjust marginRight">
                    <div class="marginBottom">
                        <img src="../../upload/recruit/sec4-1.jpg">
                    </div>
                    <div class="marginBottom">
                        <img src="../../upload/recruit/sec4-2.jpg">
                    </div>
                    <div>
                        <img src="../../upload/recruit/sec4-3.jpg">
                    </div>
                </div>
                <div class="row2 marginRight">
                    <div class="column2 marginBottom">
                        <div class="marginRight">
                            <img src="../../upload/recruit/sec4-4.jpg">
                        </div>
                        <div>
                            <img src="../../upload/recruit/sec4-5.jpg">
                        </div>
                    </div>
                    <div>
                        <img src="../../upload/recruit/sec4-6.jpg">
                    </div>
                </div>
                <div class="row1 adjust">
                    <div class="marginBottom">
                        <img src="../../upload/recruit/sec4-7.jpg">
                    </div>
                    <div class="marginBottom">
                        <img src="../../upload/recruit/sec4-8.jpg">
                    </div>
                    <div>
                        <img src="../../upload/recruit/sec4-9.jpg">
                    </div>
                </div>
            </div>
            <!-- section 5 -->
            <div class="photoSec quarter">
                <div class="row1 marginRight">
                    <div class="marginBottom">
                        <img src="../../upload/recruit/sec5-1.jpg">
                    </div>
                    <div>
                        <img src="../../upload/recruit/sec5-3.jpg">
                    </div>
                </div>
                <div class="row1 marginRight">
                    <div class="marginBottom">
                        <img src="../../upload/recruit/sec5-2.jpg">
                    </div>
                    <div>
                        <img src="../../upload/recruit/sec5-4.jpg">
                    </div>
                </div>
            </div>
            <!-- section 6 -->
            <div class="photoSec">
                <div class="row1 marginRight">
                    <div class="marginBottom">
                        <img src="../../upload/recruit/sec6-1.jpg">
                    </div>
                    <div>
                        <img src="../../upload/recruit/sec6-2.jpg">
                    </div>
                </div>
                <div class="marginRight">
                    <img src="../../upload/recruit/sec6-3.jpg">
                </div>
                <div class="row1 marginRight">
                    <div class="marginBottom">
                        <img src="../../upload/recruit/sec6-4.jpg">
                    </div>
                    <div>
                        <img src="../../upload/recruit/sec6-5.jpg">
                    </div>
                </div>
            </div>
            <!-- section 7 -->
            <div class="photoSec quarter">
                <div class="marginRight">
                    <img src="../../upload/recruit/sec7-1.jpg">
                </div>
                <div>
                    <img src="../../upload/recruit/sec7-2.jpg">
                </div>

            </div>
        </div>
    </section>
    <section class="vacancyList">
        <div class="wrapper">
            <div class="content">
                <h6>徵才項目</h6>
                <p>我們分享，我們成長，我們正在建立一個偉大的遊戲公司。</p>
                <article>目前公司有以下職缺，欲瞭解更多，請查詢全威 104 網頁。</article>
                <div class="link">
                    <a href="https://www.104.com.tw/job/?jobno=5o7lk&jobsource=" target="_blank">
                        <div class="btnEffect"><span>PHP 工程師</span></div>
                    </a>
                    <a href="https://www.104.com.tw/job/?jobno=5pyg0&jobsource=" target="_blank">
                        <div class="btnEffect"><span>H5 遊戲工程師</span></div>
                    </a>
                    <a href="https://www.104.com.tw/job/?jobno=5tri9&jobsource=" target="_blank">
                        <div class="btnEffect"><span>架構師</span></div>
                    </a>
                    <a href="https://www.104.com.tw/jobbank/custjob/index.php?r=cust&j=40524a733c3e466f383a426b40463e219313131734974427109j48" target="_blank">
                        <div class="btnEffect"><span>全威 104 網頁</span></div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="wrapper">
            <div class="up">
                <div class="info">
                    <h2>全威網路科技有限公司</h2>
                    <h3>POWERNET TECHNOLOGY LTD.</h3>
                    <p>台中市西屯區朝富路 213 號 9 樓之 7</p>
                    <p>+ 886-4-36093909</p>
                    <p>Email: <a href="mailto:allpowernet@powernet.com">allpowernet@powernet.com</a></p>
                </div>
                <div class="logo">
                    <img src="../../assets/img/logoColor.png">
                </div>
            </div>
            <div class="down">
                <div class="copyright">© 2017 POWERNET. All Rights Reserved.</div>
                <div class="decorate">
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="../../assets/js/vendor/jquery-2.2.4.min.js"></script>
    <!-- waypoints -->
    <script type="text/javascript" src="../../assets/js/vendor/waypoints/jquery.waypoints.min.js"></script>
    <!-- mCustomScrollbar -->
    <script type="text/javascript" src="../../assets/js/vendor/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- main js -->
    <script type="text/javascript" src="../../assets/js/common.js"></script>
    <script type="text/javascript" src="../../assets/js/about.js"></script>
</body>

</html>